body {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
}

.row {
  height: 910px;
  margin-inline: 136px;
}
.row .left-side {
  margin-top: 6%;
  padding-right: 192px;
}
.row .left-side .title {
  margin-bottom: 96px;
}
.row .left-side .title h1 {
  font-size: 48px;
  font-weight: 500;
}
.row .left-side .title p {
  font-size: 16px;
  color: #808080;
}
.row .left-side .divider-1 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 28px;
}
.row .left-side .divider-1 .divider-left {
  width: 50%;
  margin-inline-end: 12px;
}
.row .left-side .divider-1 span {
  font-size: 16px;
  color: #818181;
}
.row .left-side .divider-1 .divider-right {
  width: 50%;
  margin-inline-start: 12px;
}
.row .left-side .form-login {
  display: flex;
  flex-wrap: wrap;
}
.row .left-side .form-login .first-name {
  margin-inline-end: 16px;
  flex: 1 0 14rem;
  margin-bottom: 16px;
}
.row .left-side .form-login .first-name h5 {
  font-size: 16px;
  font-weight: 500;
}
.row .left-side .form-login .first-name input {
  width: 100%;
  height: 48px;
  background-color: #FDFDFD;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid #DDDDDD;
}
.row .left-side .form-login .first-name input:focus {
  border: 2px solid #DDDDDD;
}
.row .left-side .form-login .last-name {
  flex: 1 0 14rem;
}
.row .left-side .form-login .last-name h5 {
  font-size: 16px;
  font-weight: 500;
}
.row .left-side .form-login .last-name input {
  width: 100%;
  height: 48px;
  background-color: #FDFDFD;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid #DDDDDD;
}
.row .left-side .form-login .last-name input:focus {
  border: 2px solid #DDDDDD;
}
.row .left-side .form-login .email {
  flex: 1 0 32rem;
  margin-bottom: 16px;
}
.row .left-side .form-login .email h5 {
  font-size: 16px;
  font-weight: 500;
}
.row .left-side .form-login .email input {
  width: 100%;
  height: 48px;
  background-color: #FDFDFD;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid #DDDDDD;
}
.row .left-side .form-login .email input:focus {
  border: 2px solid #DDDDDD;
}
.row .left-side .form-login .password {
  flex: 1 0 8rem;
  margin-inline-end: 16px;
}
.row .left-side .form-login .password h5 {
  font-size: 16px;
  font-weight: 500;
}
.row .left-side .form-login .password .pass-wrap {
  position: relative;
}
.row .left-side .form-login .password #toggle-pass {
  position: absolute;
  top: 47.5%;
  right: 61%;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background: url(/frontend/images/show-pw.svg);
  background-size: cover;
}
.row .left-side .form-login .password #toggle-pass.hide {
  background: url(/frontend/images/hide-pw.svg);
  background-size: cover;
}
.row .left-side .form-login .password input {
  width: 100%;
  height: 48px;
  background-color: #FDFDFD;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid #DDDDDD;
}
.row .left-side .form-login .password input:focus {
  border: 2px solid #DDDDDD;
}
.row .left-side .form-login .confirm-password {
  flex: 1 0 8rem;
}
.row .left-side .form-login .confirm-password h5 {
  font-size: 16px;
  font-weight: 500;
}
.row .left-side .form-login .confirm-password .pass-wrap {
  position: relative;
}
.row .left-side .form-login .confirm-password #toggle-conf-pass {
  position: absolute;
  top: 47.5%;
  right: 61%;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}
.row .left-side .form-login .confirm-password input {
  width: 100%;
  height: 48px;
  background-color: #FDFDFD;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid #DDDDDD;
}
.row .left-side .form-login .confirm-password input:focus {
  border: 2px solid #DDDDDD;
}
.row .left-side .btn-login {
  width: 100%;
  height: 56px;
  padding-top: 12px;
  margin-top: 28px;
  background-color: #ff7b00;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  -webkit-border-radius: px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.row .left-side .btn-login:hover {
  background-color: #ffa450;
}
.row .left-side p {
  text-align: center;
  margin-top: 24px;
}
.row .left-side p .create-acc {
  text-decoration: none;
  width: 100%;
  margin-top: 24px;
  color: #00a2ff;
  font-size: 16px;
  font-weight: 500;
}
.row .left-side p .create-acc:hover {
  color: #68c8ff;
}
.row .left-side .divider-2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;
}
.row .left-side .divider-2 .divider-left {
  width: 37%;
  margin-inline-end: 12px;
}
.row .left-side .divider-2 span {
  font-size: 16px;
  color: #818181;
}
.row .left-side .divider-2 .divider-right {
  width: 35%;
  margin-inline-start: 12px;
}
.row .left-side .btn-google {
  border: none;
  outline: none;
  border: 2px solid #DDDDDD;
  color: #9F9F9F;
  font-weight: 500;
  width: 100%;
  height: 56px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.row .left-side .btn-google img {
  margin-right: 8px;
  max-width: 36px;
}
.row .left-side .btn-google:hover {
  background-color: #DDDDDD;
  color: #ffffff;
}
.row .right-side {
  background: url(/frontend/images/banner.png);
  background-size: 200%;
  background-position: 55%;
  border-radius: 6%;
  -webkit-border-radius: 6%;
  -moz-border-radius: 6%;
  -ms-border-radius: 6%;
  -o-border-radius: 6%;
}/*# sourceMappingURL=main.css.map */